/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.navbar{
    background-color: orange;

}

.navbar-brand{
    margin-top: 1%;
}
.navbar-collapse{
    margin-top: 1%;
}

.image{
    margin-top: -10%;
   }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-jumbotron{
    height: 320px;
}

.icon{
    text-align: center;
}

.footer{
    background-color: orange !important;
    margin-top: -2%;
}

.conn{
    text-align: center;
}

ul {
    margin:0;
    padding:-50%;
    text-align: left;
}
ul  li {
    padding: 2px 5px;               
}

.keywords{
    text-align: center;
}
.form{
    margin-top:-50px ;
    width: 100%;
}

.connect{
    height: 420px !important;
}