<div class="image">
  <img src="assets/images/material.jpg" alt="goodtender" style="width: 100%; height: 300px;">
  <div class="centered" style="color: white; text-align:justify;margin-top: -9%"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SEARCH TENDERS</h2></div>
  </div>
  <br><br>
  <div class="container keywords">
    <form class="form-inline">
        <div class="form-group">
        <label for="keywords"><h3>Keywords :</h3></label> &nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control" name="location" placeholder="Search by Location" 
        size="40" [(ngModel)]="searchText" /></div>
        <br>
        <div class="container">
          <table class="table table-striped" style="text-align: justify" *ngIf="arrdata;">
            <tr class="danger">
              <th>ID</th>
            <th width="20%">Title</th>
            <th>Date</th>
            <th width="30%">Summary</th>
            <th width="10%">Location</th>
            <th>Deadline</th>
  </tr>
          
            <tr *ngFor="let data of arrdata | filter:searchText;">
              <td>{{data.id}}</td>
            <td width="20%">{{data.title}}</td>
            <td>{{data.date}}</td>
            <td width="30%">{{data.summary}}</td>
            <td width="10%">{{data.location}}</td>
            <td>{{data.deadline}}</td>      </tr>
          </table>
          </div>  
      
    </form>
    
  </div>


 