<div class="container">
<div class="jumbotron connect" style="background-color: orange">

    <div class="col-md-4 col-sm-4 col-lg-offset-1 col-lg-5 col-xs-12">
    <img src="assets/images/contact.jpg" alt="goodtender" style="width: 100%; height: 200px"> 
    <br><br>
    <i class="fa fa-facebook-official" style="font-size:40px;color:blue;text-color:white"></i> 
    Facebook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-linkedin-square" style="font-size:40px;color:blue"></i> LinkendIn
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-twitter-square" style="font-size:40px;color:blue"></i> Twitter

	</div>
	<!--form-->
	<div class="col-md-4 col-sm-4 col-lg-offset-1 col-lg-5 col-xs-12">
    <form class="form-horizontal" id="f" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="fname">Name</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" id="fname" placeholder="Enter name" name="fname" 
        [(ngModel)]="f.fname" #fname="ngModel" [ngClass]="{'is-invalid' : f.submitted && fname.invalid }" required />
        <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback">
        <div *ngIf="fname.errors.required" style="color: white">Name is required *</div>
      </div>
      </div></div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-8">
        <input type="email" class="form-control" placeholder="Enter Email ID" name="email"
        [(ngModel)]="f.email" #email="ngModel" [ngClass]="{'is-invalid' : f.submitted && email.invalid }" required />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required" style="color: white">Email is required *</div>
      </div>
        </div></div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="msg">Message</label> 
            <div class="col-sm-8">
            <textarea class="form-control" rows="8" id="msg" placeholder="type your message here..."></textarea>
            </div></div>
            
          <div class="col-sm-10" align="center">
          <button class="btn btn-primary">submit</button>
        </div>
      </form>
  </div>	
</div>

<div class="container" style="margin-top:2%;">
    <h2 style="color: grey">Good Tenders Biding History :</h2>
  
  <div class="jumbotron">
  <div *ngIf="chart2">
    <canvas id="canvas1">{{ chart2 }}</canvas>
  </div>
  </div>
  </div>

