<div class="image">
<img src="assets/images/material.jpg" alt="goodtender" style="width: 100%; height: 500px;">
<div class="centered" style="color: white; text-align:justify;margin-top: -2%"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find 
  new sales in the public sector</h2><br>
<h4>Millions of public tenders and bidding contests all over the World</h4><br>
<button class="btn btn-primary center-block">Try out</button>
</div>
</div>

<div class="container" style="text-align: center">
  <br><br>
<h2>Get Relevant Tenders, The Way You Prefer</h2>
</div>

<div class="container">
  <div class="jumbotron main-jumbotron">
    <div class="col-md-4 col-sm-4 col-lg-offset-1 col-lg-5 col-xs-12">
      <div class="icon">
     <i class="fa fa-file" style="font-size:56px;color: white"></i></div>
      <h3 style="text-align: center">Find Relevant Tenders</h3><br>
      <h4 style="color:grey;text-align: center">Easily customize your search to find relevant tenders
        </h4> <br>
      <button class="btn btn-success center-block">Learn More</button>
    </div>
 
    <div class="col-md-4 col-sm-4 col-lg-offset-1 col-lg-5 col-xs-12">
      <div class="icon">
      <i class="fa fa-file" style="font-size:56px;color: white"></i></div>
      <h3 style="text-align: center">Receive and Share Alerts</h3><br>
      <h4 style="color:grey;text-align: center">Automatically receive tenders and share them 
        with your team</h4><br>
        <button class="btn btn-success center-block">Learn More</button>
    </div>
 </div>
</div>
<hr>
<div class="footer">
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Solutions</h6>
      <hr>
             <p>
              <a href="#!">Share and Export</a>
            </p>
            <p>
              <a href="#!">Alerts</a>
            </p>
            <p>
              <a href="#!">Search</a>
            </p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Company</h6>
            <hr>
            <p>
              <a href="#!">About us</a>
            </p>
            <p>
              <a href="#!">Contact</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Other</h6>
            <hr>
            <p>
              <a href="#!">Customers</a>
            </p>
            <p>
              <a href="#!">Technology</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Resources</h6>
            <hr>
            <p>
                <a href="#!">FAQ</a>
              </p>
              <p>
                <a href="#!">Blog</a>
              </p>
              <p>
                <a href="#">Terms and Condtions</a>
              </p>
            </div>
      <div class="col-lg-12 text-center">©2018 Copyright:
    <a href="https://wwww.goodtenders.com"> www.goodtenders.com</a></div>

     
  
