<div class="image">
  <img src="assets/images/material.jpg" alt="goodtender" style="width: 100%; height: 300px;">
  <div class="centered" style="color: white; text-align:justify;margin-top: -9%"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USER DASHBOARD</h2></div>
  </div>
  
  <br><br>
<div class="container">
    <ul class="nav nav-pills nav-justified ">
    <li class="active"><a data-toggle="tab" href="#menu1">Inbox</a></li>
    <li><a data-toggle="tab" href="#menu2">Starred</a></li>
    <li><a data-toggle="tab" href="#menu3">Important</a></li>
    <li><a data-toggle="tab" href="#menu4">Trash</a></li>

    </ul>
    <div class="tab-content">
    <div id="menu1" class="tab-pane active">
    <div class="container">
      <table class="table table-striped" *ngIf="arrdata;">
        <tr class="danger">
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
          <th>Summary</th>
          <th>Location</th>
          <th>Deadline</th>

        </tr>
      
        <tr *ngFor="let data of arrdata;">
          <td>{{data.id}}</td>
          <td width="20%">{{data.title}}</td>
          <td>{{data.date}}</td>
          <td width="30%">{{data.summary}}</td>
          <td width="10%">{{data.location}}</td>
          <td>{{data.deadline}}</td>

        </tr>
      </table>
      </div>  



    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="container">
        <table class="table table-striped" *ngIf="arrdata2;">
          <tr class="danger">
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Summary</th>
            <th>Location</th>
            <th>Deadline</th>
  
          </tr>
        
          <tr *ngFor="let data2 of arrdata2;">
            <td>{{data2.id}}</td>
            <td width="20%">{{data2.title}}</td>
            <td>{{data2.date}}</td>
            <td width="30%">{{data2.summary}}</td>
            <td width="10%">{{data2.location}}</td>
            <td>{{data2.deadline}}</td>
  
          </tr>
        </table>
        </div>  
  
  
  



    </div>
    <div id="menu3" class="tab-pane fade">
      <div class="container">
        <table class="table table-striped" *ngIf="arrdata3;">
          <tr class="danger">
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Summary</th>
            <th>Location</th>
            <th>Deadline</th>
  
          </tr>
        
          <tr *ngFor="let data3 of arrdata3;">
            <td>{{data3.id}}</td>
            <td width="20%">{{data3.title}}</td>
            <td>{{data3.date}}</td>
            <td width="30%">{{data3.summary}}</td>
            <td width="10%">{{data3.location}}</td>
            <td>{{data3.deadline}}</td>
  
          </tr>
        </table>
        </div>  
  </div>
    <div id="menu4" class="tab-pane fade">
      <div class="container">
        <table class="table table-striped" *ngIf="arrdata4;">
          <tr class="danger">
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Summary</th>
            <th>Location</th>
            <th>Deadline</th>
  
          </tr>
        
          <tr *ngFor="let data4 of arrdata4;">
            <td>{{data4.id}}</td>
            <td width="20%">{{data4.title}}</td>
            <td>{{data4.date}}</td>
            <td width="30%">{{data4.summary}}</td>
            <td width="10%">{{data4.location}}</td>
            <td>{{data4.deadline}}</td>
  </tr>
        </table>
        </div>  
  </div>
    
  </div>
    
    