<div class="image">
  <img src="assets/images/material.jpg" alt="goodtender" style="width: 100%; height: 300px;">
  <div class="centered" style="color: white; text-align:justify;margin-top: -9%"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRICE POLICY</h2></div>
  </div><br>
  <div class="container">
   <h2 style="text-align: center"> Choose a plan that is right for you</h2>
   <h2 style="text-align: center;color: blueviolet"> 14-day free trial, no credit card required</h2><br>
</div>


<div class="conn">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">

  <div class="card" style="width:400px;border:1px solid grey">
      <h4 class="card-title">Advanced</h4>
<hr>
    <img class="card-img-top" src="assets/images/dload.jpg" alt="Card image" style="width:50%;height: 50%">
    <div class="card-body">
      <h4 class="card-text">99$ Month</h4><br>

      <a href="#" class="btn btn-success">Start Free Trial</a>
      <hr>
     <ul class="list">
        <li>Unlimited Searches</li>
        <li>Licenses: 1</li>
        <li>Search Profile: 3 per user</li>
        <li style="color: grey">Historical Data</li>
        <li style="color: grey">Winner Data</li>
        <li style="color: grey">Data Export</li>
      </ul>
    </div>
    <br>
  </div></div>

  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
    <div class="card" style="width:400px;border:1px solid grey">
      <h4 class="card-title">Professional</h4>
<hr>
    <img class="card-img-top" src="assets/images/imgg.jpg" alt="Card image" style="width:50%;height: 50%">
    <div class="card-body">
      <h4 class="card-text">199$ Month</h4><br>

      <a href="#" class="btn btn-success">Start Free Trial</a> 
      <hr>
     <ul class="list">
        <li>Unlimited Searches</li>
        <li>Licenses: 5</li>
        <li>Search Profile: 5 per user</li>
        <li>Historical Data</li>
        <li>Winner Data</li>
        <li>Data Export</li>
      </ul>
    </div>
    <br>
  </div></div>
  
  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
<div class="card" style="width:400px;border:1px solid grey">
      <h4 class="card-title">Custom</h4>
<hr>
<br>
    <img class="card-img-top" src="assets/images/boat.png" alt="Card image" style="width:50%;height: 50%">
    <br>
    <div class="card-body" style="height:325px"><br>
      <h4 class="card-text">399$ Month</h4><br>

      <a href="#" class="btn btn-success">Start Free Trial</a>
      <hr>
     <ul class="list">
        <li>Unlimited Searches</li>
        <li>Licenses: 5</li>
        <li>Search Profile: unlimited</li>
        <li>Historical Data</li>
        <li>Winner Data</li>
        <li>Data Export</li>
      </ul>
    </div>
  </div>
  </div>
  
<p style="text-align: center"><br><br>We are currently offering a pay per lead payment scheme to selected clients in a closed Beta. <br>
  <a href="#"> Click here</a> if you want to learn more about this program.</p>
  
