<nav class="navbar" id="main-navbar" role="navigation">
	<div class="navbar-header">
		<a href="#" class="navbar-brand">Good Tender</a>
		
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
		<span class="sr-only">Toggle Navigaation"</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	</div>
	
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav" style="font-size: 17px">
			<li><a class="nav-item nav-link active"  routerLink="home">Home</a></li>
			<li><a class="nav-item nav-link"  routerLink="search">Search</a></li>
			<li><a class="nav-item " routerLink="dashboard">User Dashboard</a></li>
            <li><a class="nav-item " routerLink="price">Price Policy</a></li>
            <li><a class="nav-item " routerLink="aboutus">About us</a></li>
			</ul>

			<div class="nav navbar-nav navbar-right">
			<input type="text" class="search-query" style="border-radius: 25px; border: 1px solid; width: 150px;height: 30px;
			color: orange" placeholder="&nbsp;&nbsp;Search" /> &nbsp;&nbsp;
		</div>
		
			<button class="btn btn-success navbar-right" style="margin-right: 5px">Start Trial</button>&nbsp;
			<button class="btn btn-primary navbar-right" data-target="#modal1" data-toggle="modal"
			 style="margin-right: 5px">Login</button>&nbsp;&nbsp;
		
<!--- Modal 1 -->
	<div class="modal fade" id="modal1">
	<div class="modal-dialog">
	<div class="modal-content" style="background-image: url(assets/images/material.jpg) ">
	
	<div class="modal-header">
	<Button type="button" class="close" data-dismiss="modal">&times;</Button>
	<h3 class="modal-title">Sign Up Form</h3></div>
	
	<div class="modal-body">
	<form class="form-horizontal"
	>
	<div class="form-group">
	<label class="control-label col-sm-2" for="name">Name</label>
	<div class="col-sm-6">
	<input type="email" class="form-control" id="name" placeholder="Enter Your Name">
	</div></div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="email">Email</label>
	<div class="col-sm-6">
	<input type="email" class="form-control" id="email" placeholder="Enter Email ID">
	</div></div>
	<div class="form-group">
	<label class="control-label col-sm-2" for="pwd">Password</label>
	<div class="col-sm-6">
	<input type="password" class="form-control" placeholder="Enter Password">
	</div></div>
	<div class="form-group">
			<label class="control-label col-sm-2" for="pwd">Confirm Password</label>
			<div class="col-sm-6">
			<input type="password" class="form-control" id="pwd" placeholder="Enter Password">
			</div></div>
			
	</form>
	</div>
	<div class="modal-footer">
	<Button type="button" class="btn btn-info" data-dismiss="modal" onclick="success()">Submit
	</Button>
	</div>
	</div>
	
	</div></div>

	




		
		
		
		
		</div>	</nav>
			
<div class="clearfix"></div>       


<router-outlet></router-outlet>
